Reduce overhead from static files

As per discussion with @corny, we want to reduce the request to `/render` by moving static files (those known to change seldomly) into a server-side store and reference them from the render request.

## Example

Imagine the following directory structure, using exemplary file sizes and their reference hash (discussed below) in the 2nd/3rd column:

```
project root/
+- fonts/
|  +- Hausschrift.otf              477KB  sha256:MnhVRGtQQ...MSU0vaz0
|  +- Hausschrift-Bold.otf         369KB  sha256:MTl0ckRTc...rSVZwST0
|  +- Hausschrift-Italic.otf       375KB  sha256:TUs4MytCc...OdnR1bz0
|  +- Hausschrift-BoldItalic.otf   348KB  sha256:bCt3WC9Cd...nZU9BYz0
+- common/
   +- hausschrift.sty               12KB  sha256:WEQ5bTd6b...yUFNFZz0
   +- letter.cls                   9.8KB  sha256:S1Z6bjN2V...kbUdsTT0
```

We currently need to submit each file with each render request. For dynamic files of a few KB in size, this amounts to 1.6MB overhead—quite dramatic.

It would be nice if the texd server could accept "file references", i.e. `multipart/form-data` parts with a magic Content-Type header and use the reference to lookup a file locally:

```http
POST /render HTTP/1.1
Content-Type: multipart/form-data; boundary=boundary

--boundary
Content-Disposition: form-data; name="fonts/Hausschrift.otf"
Content-Type: application/x.texd; ref=use
Content-Length: 62

sha256:MnhVRGtQQ...MSU0vaz0
--boundary--
```

From here, either the file reference is known to texd (and can be copied into the document's working directory using the filename specified in the Content-Disposition header), or it is not known (in which case texd returns a special error):

```http
422 Unprocessable Entity
Content-Type: application/json

{
  "category":   "references",
  "error":      "unknown file references",
  "references": ["sha256:MnhVRGtQQ...MSU0vaz0"]
}
```

In the error case, the client then repeats the request and includes missing files. Here, we change the Content-Type parameter to `ref=store`:

```http
POST /render HTTP/1.1
Content-Type: multipart/form-data; boundary=boundary

--boundary
Content-Disposition: form-data; name="fonts/Hausschrift.otf"
Content-Type: application/x.texd; ref=store
Content-Length: 487796

(487796 bytes omitted)
--boundary--
```

## Server details

When encountering a `ref=store` parameter, texd should calculate the reference hash from the multipart body, and save the file somewhere for later use.

The server is however free to ignore this instruction, and keep the file only for the current request (an administrator may prohibit file persistence).

We don't limit file persistence to disk storage, although we will prototype this solution first. It is possible that future releases may implement database (Redis) or network (S3) storage adapters.

## Data retention

The server is free to remove any reference at any point. This supports a use case, where the disk storage is mounted on a size-constrained or volatile file system (e.g. tmpfs).

For long-term storage, we may need to implement a cleanup procedure and regularly delete stale files, where "staleness" might be determined by the time of last access. This should be done in-process.

We could also define a max. storage size (say 100 MB) and evict least recently used files.

## Definitions

### MIME type `application/x.texd`

Optional parameters:

- `ref`
  - `ref=use`: instruct texd server to read multipart body as a reference hash, resolve that hash to a persisted file, and continue processing as if the persisted file was sent instead
  - `ref=store`: instruct texd server to read multipart body, calculate a reference hash from it, persist the body (on disk, DB, ...) using the reference hash, and continue processing
  - other values, including empty value: treat as input error
  - when omitted, treat multipart body as normal file (i.e. continue processing)

### Reference hash

The reference hash can be constructed on both client and server side from the file contents:

- `hashIdentifier + ":" + base64(hash(fileContents))`

The canonical Base64 encoding uses the [URL-safe alphabet (RFC4648, Section 5)](https://datatracker.ietf.org/doc/html/rfc4648#section-5) and omits padding characters. However the default alphabet and/or padding characters are accepted as well, as they can easily be differentiated.

I suggest to use the name of the algorithm has hasIdentifier (`sha1` or `sha256`).